[Unit]
Description=Nginx web server container
Documentation=gitolite_local:docker/
After=network.target docker.service home-martin.mount
Wants=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/martin/gistin/docker/systemd/configfiles
ExecStart=/usr/bin/python /usr/local/bin/docker_start.py -e juergen_environment.yaml nginx_server.yaml
ExecStop=/usr/bin/python /usr/local/bin/docker_start.py --stop-all -e juergen_environment.yaml nginx_server.yaml

[Install]
WantedBy=mutli-user.target
